<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
  <div class="form-group">
    <label>שם פרטי:</label>
    <input class="form-control" formControlName="firstName" type="text" />
    <label>שם משפחה</label>
    <input class="form-control" formControlName="lastName" type="text" />
    <label>דוא"ל</label>
    <input class="form-control" formControlName="mail" type="email" />
    <label>סיסמא</label>
    <input class="form-control" formControlName="password" type="password" />
    <label>אימות סיסמא</label>
    <input class="form-control" formControlName="confirmPassword" type="password" />
    <input type="submit" class="btn" value="Submit" />
  </div>
</form>
