<!-- Container (Contact Section) -->
<div id="contact" class="container-fluid bg-grey" dir="rtl">
  <h2 class="text-center" style="float:right">צור קשר</h2>
  <div class="row">
    <br /><br /><br />
    <div class="col-sm-5">
      <p>צור איתנו קשר ואנחנו נחזור אליך תוך 24 שעות</p>
      <p><span class="glyphicon glyphicon-map-marker"></span>מושב נס הרים </p>
      <b>מענה טלפוני:</b><br /><p>ימים א' -ה':בין השעות 17:00 - 13:00</p>
      <p><span class="glyphicon glyphicon-phone"></span> 0548567277</p>
      <p><span class="glyphicon glyphicon-envelope"></span> machmadley@gmail.com</p>
    </div>
    <div id="slide" class="col-sm-7 slideanim">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="שם" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="אימייל" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="הערה" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-left" type="submit">שלח</button>
        </div>
      </div>
    </div>
  </div>
</div>
