








<div class="page-wrapper chiller-theme sidebar-bg bg1 toggled" style="background-color:#F7F7F7" dir="rtl">
  <nav class="heading"  style="position:fixed;">
    <ul>
      <!--<li>
        <a class="" id="dropdownMenuNotification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-bell" style="color:black;"></i>
          <span class="badge badge-pill badge-warning notification" style="color:black;">3</span>
        </a>
      </li>
  <li><a>
  <i class="glyphicon glyphicon-home"  style="color:black;"></i>
</a></li>-->
  <li>
    <a class="" routerLink="designSetting">
      <i class="fa fa-cog"  style="color:black;width:40px;"></i>
      <!--<span class="badge-sonar"  style="color:black;"></span>-->
    </a>
  <!--</li>
      <li><a href="#about">About</a></li>-->
    </ul>
  </nav>
  <br /><br />
  <a id="show-sidebar" class="btn btn-sm btn-dark" >
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper" >
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a style="color:white;">pro sidebar</a>
        <div id="close-sidebar">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="sidebar-header">
        <!--<div class="user-pic">
          <img class="img-responsive img-rounded" src="./assets/img (2)/user.jpg" alt="User picture">
        </div>-->
        <div class="user-info">
          <span class="user-name">
            Jhon
            <strong>Smith</strong>
          </span>
          <span class="user-role">Administrator</span>
          <span class="user-status">
            <i class="fa fa-circle"></i>
            <span>Online</span>
          </span>
        </div>
      </div>
      <!-- sidebar-header  -->
      <div class="sidebar-search">
        <div>
          <div class="input-group">
            <input type="text" class="form-control search-menu" placeholder="Search...">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- sidebar-search  -->
      <div class="sidebar-menu">
        <ul>
          <li class="header-menu" style="color:rgb(8, 31, 56,0.8);">
            <span>כללי</span>
          </li>
          <li>
            <a routerLink="main" [class.active1]="active=='main'"(click)="clicked('main')">
              <i class="glyphicon glyphicon-home"></i>
              <span>ראשי</span>
            </a>
          </li>
          <li class="sidebar-dropdown" >
            <a [class.active1]="active=='storeManagment'"(click)="clicked('storeManagment')"><i class="glyphicon glyphicon-wrench"></i>ניהול חנות</a>
            <div class="sidebar-submenu">
              <ul (click)="clicked('')">
                <li>
                  <a routerLink="productsBase">מוצרים                
                  </a>
                </li>
                <li>
                  <a routerLink="categoriesBase">קטגוריות</a>
                </li>
                <li>
                  <a routerLink="productOptionsBase">אפשרויות מוצר</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown"  >
            <a [class.active1]="active=='customersAndOrder'"(click)="clicked('customersAndOrder')"><i class="glyphicon glyphicon-user" ></i>לקוחות והזמנות</a>
            <div class="sidebar-submenu">
              <ul (click)="clicked()">
                <li>
                  <a routerLink="customersBase">לקוחות</a>
                </li>
                <li>
                  <a>הזמנות</a>
                </li>
                <li>
                  <a>Credit cart</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a>
              <i class="far fa-gem"></i>
              <span>מבצעים</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a>הנחה רגילה</a>
                </li>
                <li>
                  <a>קנה וקבל</a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a>
              <i class="fa fa-cog"></i>

              <span>הגדרות חנות</span>
            </a>
            <!--<div class="sidebar-submenu">
              <ul>
                <li>
                  <a>Pie chart</a>
                </li>
                <li>
                  <a>Line chart</a>
                </li>
                <li>
                  <a>Bar chart</a>
                </li>
                <li>
                  <a>Histogram</a>
                </li>
              </ul>
            </div>-->
          </li>
          <!--<li class="sidebar-dropdown">
            <a>
              <i class="fa fa-globe"></i>
              <span>Maps</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a>Google maps</a>
                </li>
                <li>
                  <a>Open street map</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="header-menu">
            <span>Extra</span>
          </li>
          <li>
            <a>
              <i class="fa fa-calendar"></i>
              <span>Calendar</span>
            </a>
          </li>
          <li>
            <a>
              <i class="fa fa-folder"></i>
              <span>Examples</span>
            </a>
          </li>
          <li>
            <a>
              <i class="fa fa-book"></i>
              <span>Documentation</span>
            </a>
          </li>-->
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <!--<div class="sidebar-footer">
      <div class="dropdown">
        <a  class="" id="dropdownMenuNotification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-bell"></i>
          <span class="badge badge-pill badge-warning notification">3</span>
        </a>
        <div class="dropdown-menu notifications" aria-labelledby="dropdownMenuMessage">
          <div class="notifications-header">
            <i class="fa fa-bell"></i>
            Notifications
          </div>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" >
            <div class="notification-content">
              <div class="icon">
                <i class="fas fa-check text-success border border-success"></i>
              </div>
              <div class="content">
                <div class="notification-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. In totam explicabo</div>
                <div class="notification-time">
                  6 minutes ago
                </div>
              </div>
            </div>
          </a>
          <a class="dropdown-item" >
            <div class="notification-content">
              <div class="icon">
                <i class="fas fa-exclamation text-info border border-info"></i>
              </div>
              <div class="content">
                <div class="notification-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. In totam explicabo</div>
                <div class="notification-time">
                  Today
                </div>
              </div>
            </div>
          </a>
          <a class="dropdown-item" >
            <div class="notification-content">
              <div class="icon">
                <i class="fas fa-exclamation-triangle text-warning border border-warning"></i>
              </div>
              <div class="content">
                <div class="notification-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. In totam explicabo</div>
                <div class="notification-time">
                  Yesterday
                </div>
              </div>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-center" >View all notifications</a>
        </div>
      </div>
      <div class="dropdown">
        <a  class="" id="dropdownMenuMessage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-envelope"></i>
          <span class="badge badge-pill badge-success notification">7</span>
        </a>
        <div class="dropdown-menu messages" aria-labelledby="dropdownMenuMessage">
          <div class="messages-header">
            <i class="fa fa-envelope"></i>
            Messages
          </div>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" >
            <div class="message-content">
              <div class="pic">
                <img src="./assets/img (2)/user.jpg" alt="">
              </div>
              <div class="content">
                <div class="message-title">
                  <strong> Jhon doe</strong>
                </div>
                <div class="message-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. In totam explicabo</div>
              </div>
            </div>
          </a>
          <a class="dropdown-item" >
            <div class="message-content">
              <div class="pic">
                <img src="./assets/img (2)/user.jpg" alt="">
              </div>
              <div class="content">
                <div class="message-title">
                  <strong> Jhon doe</strong>
                </div>
                <div class="message-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. In totam explicabo</div>
              </div>
            </div>
          </a>
          <a class="dropdown-item" >
            <div class="message-content">
              <div class="pic">
                <img src="./assets/img (2)/user.jpg" alt="">
              </div>
              <div class="content">
                <div class="message-title">
                  <strong> Jhon doe</strong>
                </div>
                <div class="message-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. In totam explicabo</div>
              </div>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-center" >View all messages</a>
        </div>
      </div>
      <div class="dropdown">
        <a  class="" id="dropdownMenuMessage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-cog"></i>
          <span class="badge-sonar"></span>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuMessage">
          <a class="dropdown-item" >My profile</a>
          <a class="dropdown-item" >Help</a>
          <a class="dropdown-item" >Setting</a>
        </div>
      </div>
      <div>
        <a >
          <i class="fa fa-power-off"></i>
        </a>
      </div>
    </div>-->
  </nav>
  <router-outlet>


    <app-main *ngIf="show"></app-main>
  </router-outlet>
  <!-- sidebar-wrapper  -->

  <!-- page-content" -->
</div>
<!--<nav class="navbar navbar-defult"></nav>-->

<!--<style type="text/css">
  .rtl {
    direction: rtl;
  }

</style>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-9">
        <router-outlet></router-outlet>
      </div>
      <div class="col-lg-3">
        <div class="sidebar-menu fixed">
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a href="#main" data-toggle="collapse" data-parent="#accordion"><span class="glyphicon glyphicon-home"></span>ראשי</a>
                </h4>
                <div id="main" class="panel-collapse collapse in">
                  <div class="panel-body">
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a href="#storeManagement" data-toggle="collapse" data-parent="#accordion"><span class="glyphicon glyphicon-wrench"></span>ניהול חנות</a>
                  </h4>
                </div>
              </div>

              <div id="storeManagement" class="panel-collapse collapse">
                <div class="panel-body">
                  <table class="table">
                    <tr>
                      <td class="root-level has-sub">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <a routerLink="productsBase">מוצרים</a>
                      </td>
                    </tr>
                    <tr>
                      <td class="categories">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <a routerLink="categoriesBase">קטגוריות</a>
                      </td>
                    </tr>
                    <tr>
                      <td class="categories">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <a routerLink="productOptionsBase">אפשרויות מוצר</a>
                      </td>
                    </tr>
                    <tr>
                      <td class="categories">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <a >תכונות</a>
                      </td>
                    </tr>
                    <tr>
                      <td class="categories">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <a >שיטות משלוח</a>
                      </td>
                    </tr>
                    <tr>
                      <td class="categories">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <a >שרותי הובלה</a>
                      </td>
                    </tr>
                    <tr>
                      <td class="categories">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <a >דפי תוכן</a>
                      </td>
                    </tr>
                    <tr>
                      <td class="categories">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <a >מבצעים</a>
                      </td>
                    </tr>
                    <tr>
                      <td class="categories">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <a >באנרים</a>
                      </td>
                    </tr>
                    <tr>
                      <td class="categories">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <a >סגנון עיצובי לחנות</a>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a href="#customersAndOrders" data-toggle="collapse" data-parent="#accordion"><span class="glyphicon glyphicon-user"></span>לקוחות והזמנות</a>
                  </h4>
                </div>
              </div>

              <div id="customersAndOrders" class="panel-collapse collapse">
                <div class="panel-body">
                  <table class="table">
                    <tr>
                      <td>
                        <span class="glyphicon glyphicon-flash text-success"></span>
                        <a routerLink="customersBase" >לקוחות</a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span class="glyphicon glyphicon-flash text-success"></span>
                        <a >הזמנות</a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span class="glyphicon glyphicon-flash text-success"></span>
                        <a >אפשרויות מוצר</a>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a href="#storeSetting" data-toggle="collapse" data-parent="#accordion"><span class="glyphicon glyphicon-cog"></span>הגדרות חנות</a>
                  </h4>
                </div>
              </div>

              <div id="storeSetting" class="panel-collapse collapse">
                <div class="panel-body">
                  <table class="table">
                    <tr>
                      <td>
                        <span class="glyphicon glyphicon-flash text-success"></span>
                        <a >מוצרים</a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span class="glyphicon glyphicon-flash text-success"></span>
                        <a >קטגוריות</a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span class="glyphicon glyphicon-flash text-success"></span>
                        <a >אפשרויות מוצר</a>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>-->
