
body {
  margin-top: 50px;
}

.glyphicon {
  margin-left: 10px;
}
.glyphicon-chevron-left{
  font-size:small;
  /*color:blue;*/
}
.categories{
  color:black;
}
.panel-body {
  padding: 0px;
}

  .panel-body table tr td {
    padding-right: 15px;
  }

  .panel-body .table {
    margin-bottom: 0px;
  }
a:hover {
  background-color: rgba(39, 12, 177,0.3);
}
a {
  font-size: 17px;
  font-family: Tahoma;
}
.active1 {
  background-color: rgba(39, 12, 177,0.3);
}
