<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
  <div class="form-group">
    <label>שם:</label>
    <input class="form-control" formControlName="name" type="text" />
    <label>קטגורית אב</label>
    <ng-multiselect-dropdown placeholder="סוג חיה" class="form-control" formControlName="types"
                             [data]="this.typesService.listTypes"
                             [settings]="dropdownSettings">
    </ng-multiselect-dropdown>

    <input type="submit" class="btn" value="Submit" />
  </div>
</form>
