<!-- Container (About Section) -->
<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      אודותינו:

      מחמדלי עוסקת בשיווק ציוד ואביזרים איכותיים לכלבים ולחתולים, עד לפתח הבית.

      אנו עובדים עם מגוון חברות, מהטובות בשוק, כאשר הבולטות מביניהן באיכות הגבוהה ובעיצובים הבלעדיים הן חברות AKC (אמריקן קנל קלאב) ו-BOW WOW PET

      האמריקאיות, מהמובילות ביותר בארה"ב.

      בכדי שתוכלו להנות ממוצרים בסטייל האמריקאי הגבוה הזה, התאמצנו והבאנו לכם אותם במחירים זולים במיוחד, כך שלא תתפשרו לא על איכות, לא על יוקרה ולא על מחיר.

      במחמדלי תוכלו להנות מחווית קניה מושלמת-שירות מהיר, אישי ואדיב כך שתוכלו להתפנות בלב שקט למחמד שלכם...





      קצת על AKC:

      במשך יותר ממאה שנה, מועדון המלונה האמריקאי-AMERICAN KENNEL CLUB, הוביל את העולם בקביעת סטנדרטים לכלב.

      היום, הם נוקטים את אותם סטנדרטים גבוהים בהפקת קו מפואר מבית AKC במוצרים שנעשו בהתאם לצרכים האישיים של חיית המחמד שלך.

      זהו קו מעולה של מוצרים המשקף את הסגנון הקלאסי של AKC ומציע מגוון רחב של מיטות לחיות מחמד, מזרנים ומשטחי רביצה, קולרים ורתמות ועוד.

      לא משנה מיהי חיית המחמד שלך, מהו הגיל והגודל שלה-בליין של AKC תמיד יהיה משהו שמתאים דווקא לה.

      את AKC תוכלו תמיד לזהות ע"י החתימה-AKC על תווית העור בכל המוצרים שלהם.



      קצת על BOW WOW PET:

      BOW WOW PET מתמחה באביזרים יומיומיים לכלבים ולחתולים.

      הקולקציה שלהם מתבטאת במוצרים כיפיים, אופנתיים והכי חשוב-בטוחים לכל חיות המחמד.

      ידידותית לסביבה-

      המיטות והצעצועים שלהם לחיות מחמד, עשויים מבקבוקי מים ממוחזרים, תוך שמירה על אלפי קילוגרמים של פלסטיק.

      את העיצובים הבלעדיים והאיכות יוצאת הדופן ניתן לראות בכל המוצרים שלהם.


      <br><button class="btn btn-default btn-lg"></button>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-signal logo slideanim slide2"></span>
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <span  class="glyphicon glyphicon-globe logo slideanim slide2"></span>
    </div>
    <div class="col-sm-8">
      
    </div>
  </div>
</div>

