


<main class="page-content">
  <div class="container-fluid">
    <div class="myPanel">
      <br />
      <div class="col-lg-1"><img src="assets/icons/plus (13).png" routerLink="addCategory" style="text-align:center;cursor:pointer;" alt="הוסף" title="הוסף קטגוריה" /></div>
      <div class="col-md-8"></div>
      <div class="form-group col-md-3" style="margin-bottom: 10px;">
        <h2 style="color:rgb(8, 31, 56,0.9);">רשימת קטגוריות </h2>
      </div>
      <br /><br />
      <br /><br />
            <table class="table table-condensed">
              <thead>
                <tr>
                  <td><b>שם</b></td>
                  <td><b>עריכה</b></td>
                  <td><b>מחיקה</b></td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let category of this.categoriesService.listCategories">
                  <td>{{category.name}}</td>
                  <td>
                    <br /><br />
                    <a><i><img (click)="editCategoryClicked(category)" routerLink="editCategory" style="cursor:pointer;top:50px;" alt="ערוך קטגוריה" title="ערוך" src="assets/icons/edit.png" /></i></a>
                  </td>
                  <td>
                    <br /><br />
                    <a (click)="delete(category)"><i><img src="assets/icons/delete.png" style="cursor:pointer;top:50px;" alt="מחק קטגוריה" title="מחק" /></i></a>
                  </td>

                </tr>
              </tbody>
            </table>
    </div>
  </div>
  <app-products-base></app-products-base>
</main>
