<label>שם אפשרות:</label>
<b>{{productsService.editProductOption.name}}</b>
<label>ערכים:</label>
<br />
<!--<input type="button" (click)="addValue()" routerLink="addValue" />-->
<table class="table">
  <tr>
    <td><b>ערך</b></td>
    <td><b>הסרה</b></td>
  </tr>
  <tr *ngFor="let value of productsService.editProductOption.values; let i=index">
    <td>{{value}}</td>
    <td><a  (click)="deleteValue(i)"><span style="color:red;font-size:27px;cursor:pointer"  class="glyphicon glyphicon-remove"></span></a></td>
  </tr>
</table>
