
<button class="btn" routerLink="addCustomer">יצירת לקוח חדש </button>
<table class="table">
  <tr>
    <td><b>שם פרטי</b></td>
    <td><b>שם משפחה</b></td>
    <td><b>דוא"ל</b></td>
    <td><b>תאריך הרשמה</b></td>
  </tr>
  <tr *ngFor="let customer of this.customersService.listCustomers">
    <td>{{customer.firstName}}</td>
    <td>{{customer.lastName}}</td>
    <td>{{customer.mail}}</td>
    <td>{{customer.registrationDate}}</td>
    
    <td>
      <div style="direction:ltr;" class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
          פעולה
          <span class="caret"></span>
        </button>
        <ul style="direction:ltr;" class="dropdown-menu">
          <li><a (click)="editCustomerClicked(customer)" routerLink="editCustomer">עריכה</a></li>
          <li><a (click)="delete(customer)">מחיקה</a></li>
        </ul>
      </div>
    </td>
  </tr>
</table>
<router-outlet>

</router-outlet>
