<div>
 <a routerLink="add" (click)="clicked()">הוספת מוצר חדש</a>
  <table class="table">
    <tr>
      <th>תמונה</th>
      <th>שם מוצר</th>
      <th>מודל</th>
      <th>מחיר</th>
      <th>,,זמינות</th>

    </tr>
    <tr *ngFor="let product of productsService.listProducts">
      <td>
        <img width="100" src="assets/img/pic1.jpg" />
      </td>
      <td>{{product.name}}</td>
      <td>{{product.model}}</td>
      <td>{{product.price}}</td>
      <td>{{product.availability}}</td>
      <td>
        <div style="direction:ltr;" class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            פעולה
            <span class="caret"></span>
          </button>
          <ul style="direction:ltr;" class="dropdown-menu">
            <li><a (click)="edit(pruduct)" routerLink="editProduct">עריכה</a></li>
            <li><a (click)="delete(product)" >מחיקה</a></li>
          </ul>
        </div>
      </td>
    </tr>
  </table>
</div>
<app-products-base></app-products-base>
