
<nav  class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="collapse navbar-collapse" id="myNavbar">
      <div class="nav navbar-nav navbar-left"><img width="120px;" src='assets/img/image (1).png' /></div>
      <ul class="nav navbar-nav">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngFor="let type of typesService.listTypes" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{type.name}} <span class="caret"></span></a>
          <div class="dropdown-content">
            <a *ngFor="let category of this.categoriesService.listCategories|getCategoriesByType:type._id" (click)="chooseCategory(type._id,category)" routerLink="displayProducts">{{category.name}}</a>
          </div>
        </li>
        <li class="active"><a href="#">דף הבית</a></li>

      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

